<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Works</a>
        <a href="#">Contact</a>
    </nav>
    <header>
        <div class="header-content">
            <h1>Hello World!!</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque fuga quasi nisi.</p>
        </div>
    </header>
    <section id="about">
        <div class="container">
            <div class="about-box">
                <h3>about title</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, sit? Quis saepe sit ullam! Aspernatur, tempora quibusdam cum error dolor in ullam adipisci. Similique, tempora ex dicta assumenda voluptatum nemo!
                </p>
                <a href="#">More</a>
            </div>
            <div class="about-box">
                <h3>about title</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, sit? Quis saepe sit ullam! Aspernatur, tempora quibusdam cum error dolor in ullam adipisci. Similique, tempora ex dicta assumenda voluptatum nemo!
                </p>
                <a href="#">More</a>
            </div>
            <div class="about-box">
                <h3>about title</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, sit? Quis saepe sit ullam! Aspernatur, tempora quibusdam cum error dolor in ullam adipisci. Similique, tempora ex dicta assumenda voluptatum nemo!
                </p>
                <a href="#">More</a>
            </div>
        </div>
    </section>
</body>
</html>