<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }
        .container {
            width: 1200px;
            margin: auto;

            font-size: 0;
        }
        .box {
            width: 400px;
            padding: 15px;
            /* background-color: gold; */

            display: inline-block;
            font-size: 16px;
            vertical-align: top;
            /* 
                vertical-align作用範圍: table, inline-block
            */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>title</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto porro eos eveniet aut. In nobis et reprehenderit quasi beatae commodi.</p>
        </div>
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, itaque amet! Provident accusamus temporibus magnam quis eligendi, quisquam assumenda fuga molestias ea quae sint atque hic doloribus commodi cum repellat.
            </p>
        </div>
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nobis quod deleniti debitis distinctio quasi odio, accusantium impedit sequi quidem nemo, reprehenderit, cumque et atque odit.
            </p>
        </div>
    </div>
</body>
</html>